[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
certifi = "==2020.12.5"
chardet = "==4.0.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
django = "==3.1.5"
django-environ = "*"
django-cors-headers = "==3.7.0"
idna = "==2.10"
inflection = "==0.5.1"
itypes = "==1.2.0"
jinja2 = "==2.11.3"
markupsafe = "==1.1.1"
openapi-codec = "==1.3.2"
packaging = "==20.9"
pillow = "==8.1.0"
pyjwt = "==2.0.1"
pyparsing = "==2.4.7"
pytz = "==2020.5"
requests = "==2.25.1"
"ruamel.yaml" = "==0.16.12"
simplejson = "==3.17.2"
sqlparse = "==0.4.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.3"
gunicorn = "*"
markdown = "*"
django-taggit = "*"
celery = "*"
redis = "*"
weasyprint = "*"
flower = "*"
braintree = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.8"
