{% load shop_tags %}

<div class="ftco-footer-widget mb-4">
    <h2 class="ftco-heading-2">About Us</h2>
    <p>
        {{ story.story }}
    </p>
    <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
    >
        <li class="ftco-animate">
            <a href="https://www.twitter.com/esqoffee" target="_blank"><span
                    class="icon-twitter"></span></a>
        </li>
        <li class="ftco-animate">
            <a href="https://www.facebook.com/esqoffee" target="_blank"><span
                    class="icon-facebook"></span></a>
        </li>
        <li class="ftco-animate">
            <a href="https://www.instagram.com/esqoffee" target="_blank"><span
                    class="icon-instagram"></span></a>
        </li>
    </ul>
</div>
