{% load blog_tags %}
{% load shop_tags %}

<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                {% show_footer_about %}
            </div>
            {% show_latest_posts %}
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Cooked</a></li>
                        <li><a href="#" class="py-2 d-block">Deliver</a></li>
                        <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                        <li><a href="#" class="py-2 d-block">Mixed</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li>
                <span class="icon icon-map-marker"></span
                ><span class="text"
                            >Rift Valley Viewpoint, Kiambu, Nakuru-Nairobi Highway</span
                            >
                            </li>
                            <li>
                                <a href="#"
                                ><span class="icon icon-phone"></span
                                ><span class="text">+254723272788</span></a
                                >
                            </li>
                            <li>
                                <a href="#"
                                ><span class="icon icon-envelope"></span
                                ><span class="text">info@esqoffee.com</span></a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | &copy;
                    <i class="icon-heart" aria-hidden="true"></i> by
                    <a href="#" target="_blank">Robinson</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
