{% extends "base.html" %}
{% load blog_tags %}

{% block title %}Checkout{% endblock %}
{% block content %}
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);"
             data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">Checkout</h1>
                        <p class="breadcrumbs">
                            <span class="mr-2"><a href="{% url 'home' %}">Home</a></span>
                            <span>Checkout</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section">
        <form class="container" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-xl-8 ftco-animate">
                    <div class="billing-form ftco-bg-dark p-3 p-md-5">
                        <h3 class="mb-4 billing-heading">Billing Details</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="streetaddress">Street Address</label>
                                    {{ form.address }}
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="towncity">Town / City</label>
                                    {{ form.city }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="postcodezip">Postcode / ZIP *</label>
                                    {{ form.postal_code }}
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group mt-4">
                                    <div class="radio">
                                        {% for subfield in form.pickup %}
                                            <label class="mr-3">
                                                {{ subfield }}{{ subfield.label }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- END -->

                    <div class="row mt-5 pt-3 d-flex">
                        <div class="col-md-6 d-flex">
                            <div class="cart-detail cart-total ftco-bg-dark p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Cart Total</h3>
                                <p class="d-flex">
                                    <span>Subtotal</span>
                                    <span>KES {{ cart.get_total_price|floatformat:2 }}</span>
                                </p>
                                <p class="d-flex">
                                    <span>Delivery</span>
                                    <span>KES 0.00</span>
                                </p>
                                <p class="d-flex">
                                    <span>Discount</span>
                                    <span>KES {{ cart.get_discount|floatformat:2 }}</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span>KES {{ cart.get_total_price_after_discount|floatformat:2 }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cart-detail ftco-bg-dark p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Payment Method</h3>
                                {% for subfield in form.payment_option %}
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="radio">
                                                <label>
                                                    {{ subfield }}{{ subfield.label }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary py-3 px-4" value="Place an order"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% show_blog_sidebar %}
            </div>
        </form>
    </section> <!-- .section -->
    <script>

    </script>
{% endblock %}
